.box {
  & select {
    background-color: #263238cc;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px #263238cc;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 5px;

    background-image: linear-gradient(45deg, transparent 50%, #b5d1dfcc 50%),
      linear-gradient(135deg, #adccdbcc 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: none;
    }
    & option {
      padding: 30%;
    }
  }
}
