* {
  box-sizing: border-box;
  --dark-background: #416363;
}

.theme-dark {
  --dark-background: #416363;
}
.theme-light {
  --dark-text: #5e4b56;
  --light-text: #5e4b56;
  --dark-background: #dbe7e4;
  --light-background: #eddcd2;
  --accent: #dbe7e4;
  --button-border: #5e4b56;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #415263;
    border: 1px solid #634163;
  }

  .book__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
  }
}

address {
  font-style: normal;
}
